<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="scheduler" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="createArticleIndex"/>
                <ref bean="updateArticleIndex"/>
            </list>
        </property>
    </bean>

    <bean id="createArticleIndex" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="createArticleIndexTask"/>
        </property>
        <property name="cronExpression" value="0 22 13 * * ? 2014"/>
    </bean>

    <bean id="updateArticleIndex" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="updateArticleIndexTask"/>
        </property>
        <property name="cronExpression" value="0 10 * * * ? *"/>
    </bean>


    <bean id="createArticleIndexTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="indexArticleJob"/>
        </property>
        <property name="targetMethod">
            <value>createIndex</value>
        </property>
    </bean>

    <bean id="updateArticleIndexTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="indexArticleJob"/>
        </property>
        <property name="targetMethod">
            <value>updateIndex</value>
        </property>
    </bean>

    <bean id="indexArticleJob" class="net.eleword.blog.search.task.ArticleIndexTask">
        <property name="indexPath" value="elewordIndex"/>
        <property name="articles" value="Articles"/>
    </bean>
</beans>