body {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: "Microsoft YaHei" ! important;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 84%;
}

.container-narrow>hr {
	margin: 30px 0;
}

#blog-container {
	
	
}

.right-slider{
	
	width: 22%;
	float: right;
}

#blog-sidebar {
	float: right;
	width: 192px;
	min-height: 500px;
	height: auto;
	margin-right: 8px;
}

#blog-content {
	float: left;
	width: 72%;
	min-height: 500px;
	height: auto;
	margin-left: 20px;
}
#search-content {
	width: 620px;
	min-height: 400px;
	height: auto;
	margin-left: 30px;
}

.blog-category {
	float: left;
	width: 812px;
	min-height: 500px;
	height: auto;
	margin-right: 8px;
}
.blog-folders {
	float: left;
	min-height: 500px;
	width: 502px;
	height: auto;
	margin-right: 8px;
}

.blog-addarticle {
	float: left;
	width: 820px;
	min-height: 600px;
	height: auto;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

.position-title {
	font-size: 14px;
	color: #373c64;
	font-weight: normal;
	border-bottom: 2px solid #403c68;
	margin-bottom: 25px;
}
.title-info{
	font-family: "Microsoft YaHei" ! important;
	font-size: 12px;
	color: #363636;
}

.slider-title{
	color:#CD5C5C;
	border-bottom: 3px solid #CD5C5C;
	margin-bottom: 6px;
}
.slider-title2{
	color:#008B45;
	border-bottom: 3px solid #008B45;
	margin-bottom: 6px;
}
.slider-title3{
	color:#4682B4;
	border-bottom: 3px solid #4682B4;
	margin-bottom: 6px;
}

.title-info a,visited{
	color: #363636;
}


.category-title ul li{
	height: 46px;
}
.highlight{
	color:red;
}
.search-title{
	font-size: 18px;
}
.search-title a:visited{
	
	color: #609;
}